/* h2 {
    color: yellow;
    background-color: rgb(249, 97, 97);
} */
 /* #title {
    color: red ;
 }
 .title {
    color: green;
 }
 h3 {
    color: blueviolet;
 } */
  .box > .title{
    color: red;
  }
